{% extends 'base.html' %}
{% block content %}

{# Widget Tweaks #}
{% load widget_tweaks %}
        <div class="container text-center mt-5">

          <div class="row mb-5">

            <div class="col-md-12">

              <div class="table-responsive">

                <nav aria-label="breadcrumb mb-3">
        					<ol class="breadcrumb">
        					    <li class="breadcrumb-item"><a href="../">Rol</a></li>
        					    <li class="breadcrumb-item"><a href="#">Editar</a></li>
        					    <li class="breadcrumb-item active" aria-current="page">{{object.rol}}</a></li>
        					</ol>
        				</nav>

                <div class="formulario" align="left">

                	<h4>Actualizar</h4>

        					<form method="post" enctype="multipart/form-data">
        					{% csrf_token %}
        						<!-- {{ form.as_p }} -->
        						<div class="form-group">
        						    <label for="almacen" class="txt_negrita">Rol</label>
        						    {{ form.rol|add_class:"form-control" }}
        						</div>
        						<button type="submit" class="btn btn-primary">Aceptar</button>
                    <a href="{% url 'lstroles' %}" type="submit" class="btn btn-primary">Volver</a>
        					</form>

                </div>
                
              </div>

            </div>

          </div>          

          <hr>        
                
        </div>

      <script type="text/javascript">
        $('.form-group').html(function (i, t) {
          return t.replace('Actualmente:', '<span class="ocultar">Actualmente:</span>');
        });

         $('.form-group').html(function (i, t) {
          return t.replace('Currently:', '<span class="ocultar">Currently:</span>');
        });
      </script>
{% endblock %}