{% extends 'base.html' %}

{% block content %}

	{# Widget Tweaks #}
    {% load widget_tweaks %}

    <div class="container text-center mt-5">
          <div class="row mb-5">

            <div class="col-md-12">

              <div class="table-responsive">

                <nav aria-label="breadcrumb mb-3">
        					<ol class="breadcrumb">
        					    <li class="breadcrumb-item"><a href="./">Roles</a></li>
        					    <li class="breadcrumb-item active">Crear</li>
        					</ol>
        				</nav>
                <div class="formulario" align="left">

					<h4>Crear</h4>

        					<form method="post" enctype="multipart/form-data">

								{% csrf_token %}
								{{ form.as_p }}

				  <button type="submit" class="btn btn-primary">Aceptar</button>
                    <a href="{% url 'lstroles' %}" type="submit" class="btn btn-primary">Cancelar</a>
        					</form>

                </div>
                
              </div>

            </div>

          </div>          

          <hr>          
          
        </div>
{% endblock %}