
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="theme-color" content="#000000" />

    <title>Papeleria SimiConti</title>

    {# Cargamos la librería #}
    {% load bootstrap4 %}
 
    {# CSS Bootstrap #}
    {% bootstrap_css %} 

    {# Archivos #}
    {% load static %}

    {% csrf_token %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">

    
    {% if user.is_authenticated %}

    

  </head>

  <body> 
    <div class="container-fluid d-flex h-100 p-0 mx-auto flex-column">
    <header>
        <div class="row row align-items-center h-100" style="background-color: #002040;">
            <div class="col">
                    <img class="img-responsive" src="{% static 'css/header_left.png' %}">
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col align-bottom">
              <h6 class="text-white">Usuario Actual: {{ user.username }}</h6>
              <h6 class="text-warning">Almacen: {{ user.almacen }}</h6>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'mainmenu' %}">Inicio</a>
            </li>
            <li class="nav-item dropdown"></li>
            {% if user.is_superuser == 1 %}
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Seguridad</a>
            {% else %}
              <a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Seguridad</a>
                {% endif %}
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'lstusuarios' %}">Catalogo de Usuarios</a>
                <a class="dropdown-item" href="{% url 'lstalmacenes' %}">Catalogo de Almacenes</a>
                <a class="dropdown-item" href="{% url 'lstroles' %}">Catalogo de Roles</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mi Perfil</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/midetalle/{{user.id}}">Detalles de Mi Perfil</a>
                  <a class="dropdown-item" href="/mieditar/{{user.id}}">Editar Mi Perfil</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'change_password' %}">Cambiar mi Contraseña</a>
                </div>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inventario</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Catalogo de Articulos</a>
                  <a class="dropdown-item" href="#">Inventarios</a>
                </div>
              </li>
              <!--
              <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
            </li>
          </ul>

    </header>

    <main role="main">

            {% block content %}
            {% endblock %}

    </main>
  </div>

      {# JS y jQuery Bootstrap #}
      {% bootstrap_javascript jquery='full' %} 
  
  {% else %}
  
  <div class="container-fluid d-flex h-100 p-0 mx-auto flex-column">
    <h5 class="text-danger">Acceso restringido - Inicie sesión para ver esta pagina</h5>
    <a href="{% url 'login' %}" type="submit" class="btn btn-secondary btn-sm">Iniciar Sesión</a>
  </div>
  {% endif %}
  </body>
</html>
