
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Papelerias SimiCONTI - Iniciar sesion</title>
<style type="text/css">
	.login-form {
		width: 380px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>

{# Cargamos la librería #}
{% load bootstrap4 %}

{# CSS Bootstrap #}
{% bootstrap_css %} 

{# Archivos #}
{% load static %}

</head>
<body style="background-color: #002040;">
<div class="login-form">
        <p></p>
    <h6 class="text-danger">¡IMPORTANTE!</h6>
    <p class="text-danger">Despues de Cambiar la Contraseña deberá volver a iniciar sesión</p>
  {% if next %}
      {% if user.is_authenticated %}
      <p>Su cuenta de usuario no tiene acceso a esta pagina.</p>
      {% else %}
      <p>Por favor inicie sesion para ver esta pagina</p>
      {% endif %}
  {% endif %}
  
  <form method="post">
  {% csrf_token %}
  {{ form }}
  <p></p>
    <input type="submit"  class="btn btn-primary btn-block btn-lg" value="Cambiar Contraseña">
  <a href="{% url 'mainmenu' %}" type="submit" class="btn btn-secondary btn-block btn-lg">Cancelar</a>
  <input type="hidden" name="next" value="{{ next }}">

</div>
</form>
</div>
</body>
</html> 

      {# JS y jQuery Bootstrap #}
      {% bootstrap_javascript jquery='full' %}     

