{% extends 'base.html' %}
{% block content %}
	{# Widget Tweaks #}
    {% load widget_tweaks %}
        <div class="container text-center mt-5">
          <div class="row mb-5">
            <div class="col-md-12">
              <div class="table-responsive">
                <nav aria-label="breadcrumb mb-3">
        					<ol class="breadcrumb">
        					    <li class="breadcrumb-item"><a href="../">Almacen</a></li>
        					    <li class="breadcrumb-item active" aria-current="page">Detalles</a></li>
        					</ol>
        				</nav>
                <div class="formulario" align="left">
                	<h4>Detalles</h4>
        					<p><span class="txt_negrita">Almacen:</span> &nbsp;&nbsp;&nbsp;&nbsp; {{object.almacen}}</p>
                  <a href="{% url 'lstalmacenes' %}" type="submit" class="btn btn-primary">Volver</a>

                </div>
                
              </div>

            </div>

          </div>          

          <hr>
          
        </div>
{% endblock %}