{% extends 'base.html' %}

{% block content %}

{% if user.is_superuser == 1 %}
          <div class="row">
            <div class="col-md-12">
              <h5>Almacenes</h5>              
            </div>
          </div>

          <div class="row mb-5">

            <div class="col-md-12">

              <div class="table-responsive">
<!--
                {% if messages %}
                <ul class="messages list-group mb-3">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
-->
                <div align="left" class="btn_crear mb-3">
                  <a href="almacen/crear" type="button" class="btn btn-primary">Crear</a>
                </div>

                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th width="100%">Almacen</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for almacen in object_list %}
                    
                    <tr>
                      <td>{{ almacen.almacen }}</td>
                      <td>
                        
                        <form method="POST" action="almacen/eliminar/{{almacen.id}}">
                          
                          {% csrf_token %}
                          
                          <div class="btn-group">
                            <a href="almacen/detalle/{{almacen.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                            <a href="almacen/editar/{{almacen.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                            {% if usuario.is_superuser != 1 %}
                            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                              Eliminar
                            </button>
                            {% endif %}  
                            
                          </div>

                        </form>

                      </td>
                    </tr>
                    
                  {% endfor %}
                  </tbody>
                </table>
              </div>

            </div>

          </div>          

          <hr>
          
        </div>

      <script type="text/javascript">
        function eliminar() {
          var x = confirm("¿Esta seguro de que desea eliminar el almacen?");
          if (x)
            return true;
          else
            return false;
        }
      </script>
{% else %}
  
<div class="container-fluid d-flex h-100 p-0 mx-auto flex-column">
  <h5 class="text-danger">Acceso restringido - Inicie sesión para ver esta pagina</h5>
  <a href="{% url 'login' %}" type="submit" class="btn btn-secondary btn-sm">Iniciar Sesión</a>
</div>

{% endif %}  
{% endblock %}


