
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Proyecto Integrador Django">
    <meta name="author" content="Omar J. López Bárcenas">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Papelerias SimiCONTI - Sistema de Administración</title>

    <!-- Bootstrap core CSS -->
    {# Cargamos la librería #}
    {% load bootstrap4 %}
 
    {# CSS Bootstrap #}
    {% bootstrap_css %} 

    {# Archivos #}
    {% load static %}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/inicio.css' %}" rel="stylesheet">
  </head>
  
  <body> 
  <div class="container-fluid text-center  align-middle">


    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column align-middle">
      <main role="main" class="inner cover align-middle align-items-center">
        <table style="width: 50%; margin: 0 auto !important;">
            <tr style="padding-top: 350; text-align: center;">
                <td  style="padding-top: 350; text-align: center;">
                    <img class="img-responsive rounded mx-auto d-block" src="{% static 'css/logo.png' %}">
                </td>
            </tr>
        </table>
        <h1 class="cover-heading">Sistema de Administracion de Inventarios</h1>
        <p class="lead">Proyecto Integrador Desarrollado con Python + Django + MySQL + Bootstrap Usando Patrones de Diseño</p>
        <p class="lead">
          <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">Acceder al Sistema</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p class="text-muted">Desarrollado por Omar J. López Bárcenas</a>.</p>
        </div>
      </footer>
    </div>

    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %} 
    </div>
  </body>
</html>


